In [3]:
import pandas as pd
from pathlib import Path
from dateutil import parser

In [ ]:
def transform_df_timestamp(df:pd.DataFrame) -> pd.DataFrame: return None
def transform_df_date(df:pd.DataFrame) -> pd.DataFrame: return None
def transform_df_users(df:pd.DataFrame) -> pd.DataFrame: return None
def transform_df_user

In [4]:
TEST_PATH = Path.cwd()
PROJECT_PATH:Path = TEST_PATH.parent

# Define other paths relative to the base path
DATA_PATH:Path = PROJECT_PATH / 'data'
DATA_RAW_PATH:Path = DATA_PATH / 'raw'
DATA_PROCESS_PATH:Path = DATA_PATH / 'processed'

LOGS_PATH:Path = PROJECT_PATH / 'logs'
OUTPUT_PATH:Path = PROJECT_PATH / '.output'

In [5]:
def rename_df_cols(input_df:pd.DataFrame) -> pd.DataFrame:
    """
    Renames the columns of the input dataframe according to the standard mapping provided in the standard_cols dictionary.
    """
    standard_cols = {
        'user': 'user_name', 
        'timestamp': 'project_timestamp',
        'hours': 'project_hours',
        'project': 'project_name'
    }
    
    return input_df.rename(columns=standard_cols, errors='raise')

df = pd.read_csv(DATA_RAW_PATH / 'dailycheckins.csv')
df = rename_df_cols(df)

In [6]:
def transform_df_cols_timestamp(input_df:pd.DataFrame) -> pd.DataFrame:
    """ Transform user_name columns """
    current_col = 'project_timestamp'
    
    # Filter Columns that have dots
    filtered_df = input_df[input_df[current_col].str.contains('.', regex=False)]
    filtered_df[current_col] = filtered_df[current_col].str.split('.', expand=True)[0] + ' UTC'

    # Update both columns
    input_df.update(filtered_df)
    input_df[current_col] = pd.to_datetime(input_df[current_col], errors='coerce', utc=True)
    
    # Fitler further
    # TODO: Remove this once, the data properly processed.
    input_df = input_df[~input_df['project_timestamp'].isna()]
    
    # Split date and time
    input_df['project_date'] = input_df['project_timestamp'].dt.date.astype('datetime64[ns]')
    input_df['project_time'] = input_df['project_timestamp'].dt.time
    input_df.drop(columns=['project_timestamp'], inplace=True)
    
    return input_df.reset_index(drop=True)

df = transform_df_cols_timestamp(df)
df.to_csv(PROJECT_PATH / 'sample.csv', index=True)

/var/folders/zb/r6zwt9xn6dgfrg3kzcgyjgtc0000gn/T/ipykernel_81749/4294223411.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df[current_col] = filtered_df[current_col].str.split('.', expand=True)[0] + ' UTC'
/var/folders/zb/r6zwt9xn6dgfrg3kzcgyjgtc0000gn/T/ipykernel_81749/4294223411.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df['project_date'] = input_df['project_timestamp'].dt.date.astype('datetime64[ns]')
/var/folders/zb/r6zwt9xn6dgfrg3kzcgyjgtc0000gn/T/ipykernel_81749/4294223411.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df['project_time'] = input_df['project_timestamp'].dt.time
/var/folders/zb/r6zwt9xn6dgfrg3kzcgyjgtc0000gn/T/ipykernel_81749/4294223411.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  input_df.drop(columns=['project_timestamp'], inplace=True)

In [302]:
df['date'] = df['project_timestamp'].dt.date.astype('datetime64[ns]')
df['time'] = df['project_timestamp'].dt.time

In [303]:
df

,user_name,project_timestamp,project_hours,project_name,date,time
0,ned,2019-09-27 00:00:00+00:00,8.0,bizdev,2019-09-27,00:00:00
3,ned,2019-09-26 00:00:00+00:00,1.0,cultureandmanagement,2019-09-26,00:00:00
4,ned,2019-09-26 00:00:00+00:00,1.5,project-00,2019-09-26,00:00:00
5,ned,2019-09-26 00:00:00+00:00,1.0,project-43,2019-09-26,00:00:00
7,jaime,2018-12-21 00:00:00+00:00,0.5,project-47,2018-12-21,00:00:00
...,...,...,...,...,...,...
20494,robert,2010-10-04 00:00:00+00:00,2.0,project-64,2010-10-04,00:00:00
20495,robert,2010-10-04 00:00:00+00:00,2.0,transit,2010-10-04,00:00:00
20496,robert,2010-10-04 00:00:00+00:00,2.0,cultureandmanagement,2010-10-04,00:00:00
20498,robert,2010-10-04 00:00:00+00:00,1.0,transit,2010-10-04,00:00:00
20499,robert,2010-10-04 00:00:00+00:00,6.0,bizdev,2010-10-04,00:00:00

In [304]:
df.to_csv(PROJECT_PATH / 'sample.csv', index=False)

In [201]:
# filtered_df = df[df['project_timestamp'].str.contains('.', regex=False)]
# filtered_df['project_timestamp'] = filtered_df['project_timestamp'].str.split('.', expand=True)[0] + ' UTC'
# filtered_df['project_timestamp'] = pd.to_datetime(filtered_df['project_timestamp'], errors='coerce', utc=True)

# df.update(filtered_df)
# df['project_timestamp'] = pd.to_datetime(df['project_timestamp'], errors='coerce', utc=True)

/var/folders/zb/r6zwt9xn6dgfrg3kzcgyjgtc0000gn/T/ipykernel_52280/4134515767.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['project_timestamp'] = filtered_df['project_timestamp'].str.split('.', expand=True)[0] + ' UTC'
/var/folders/zb/r6zwt9xn6dgfrg3kzcgyjgtc0000gn/T/ipykernel_52280/4134515767.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['project_timestamp'] = pd.to_datetime(filtered_df['project_timestamp'], errors='coerce', utc=True)

In [209]:
def replace_month_names(timestamp):
    months_map = {
        ' января ': '-01-',
        ' февраля ': '-02-',
        ' марта ': '-03-',
        ' апреля ': '-04-',
        ' мая ': '-05-',
        ' июня ': '-06-',
        ' июля ': '-07-',
        ' августа ': '-08-',
        ' сентября ': '-09-',
        ' октября ': '-10-',
        ' ноября ': '-11-',
        ' декабря ': '-12-'
    }
    
    for rus, eng in months_map.items():
        timestamp = timestamp.replace(rus, eng)
    return timestamp

# Apply the function to the timestamp column
df['timestamp'] = df['old_project_timestamp'].astype(str).apply(replace_month_names)
df.to_csv(PROJECT_PATH / 'sample.csv', index=False)

In [213]:
df

,user_name,project_timestamp,project_hours,project_name,old_project_timestamp,timestamp
0,ned,2019-09-27 00:00:00+00:00,8.0,bizdev,2019-09-27 00:00:00 UTC,2019-09-27 00:00:00 UTC
1,robert,NaT,8.0,bizdev,09/27/2019 12:00 AM,09/27/2019 12:00 AM
2,ned,NaT,4.0,bizdev,26 сентября 2019 00:00,26-09-2019 00:00
3,ned,2019-09-26 00:00:00+00:00,1.0,cultureandmanagement,2019-09-26 00:00:00 UTC,2019-09-26 00:00:00 UTC
4,ned,2019-09-26 00:00:00+00:00,1.5,project-00,2019-09-26 00:00:00 UTC,2019-09-26 00:00:00 UTC
...,...,...,...,...,...,...
20495,robert,2010-10-04 00:00:00+00:00,2.0,transit,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00 UTC
20496,robert,2010-10-04 00:00:00+00:00,2.0,cultureandmanagement,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00 UTC
20497,robert,NaT,1.5,bizdev,4 октября 2010 00:00,4-10-2010 00:00
20498,robert,2010-10-04 00:00:00+00:00,1.0,transit,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00 UTC
20499,robert,2010-10-04 00:00:00+00:00,6.0,bizdev,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00 UTC

In [225]:
df['timestamp'] = df['timestamp'].str.replace('/', '-')
df['']

,user_name,project_timestamp,project_hours,project_name,old_project_timestamp,timestamp
0,ned,2019-09-27 00:00:00+00:00,8.0,bizdev,2019-09-27 00:00:00 UTC,2019-09-27 00:00:00 UTC
1,robert,NaT,8.0,bizdev,09/27/2019 12:00 AM,09-27-2019 12:00 AM
2,ned,NaT,4.0,bizdev,26 сентября 2019 00:00,26-09-2019 00:00
3,ned,2019-09-26 00:00:00+00:00,1.0,cultureandmanagement,2019-09-26 00:00:00 UTC,2019-09-26 00:00:00 UTC
4,ned,2019-09-26 00:00:00+00:00,1.5,project-00,2019-09-26 00:00:00 UTC,2019-09-26 00:00:00 UTC
...,...,...,...,...,...,...
20495,robert,2010-10-04 00:00:00+00:00,2.0,transit,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00 UTC
20496,robert,2010-10-04 00:00:00+00:00,2.0,cultureandmanagement,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00 UTC
20497,robert,NaT,1.5,bizdev,4 октября 2010 00:00,4-10-2010 00:00
20498,robert,2010-10-04 00:00:00+00:00,1.0,transit,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00 UTC
20499,robert,2010-10-04 00:00:00+00:00,6.0,bizdev,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00 UTC

In [237]:
from datetime import datetime

In [238]:
def standardize_date_string(date_str):
    for fmt in ("%d-%m-%Y %H:%M", "%m/%d/%y %H:%M"):
        try:
            # Parse the date string using the given format
            dt = datetime.strptime(date_str, fmt)
            # Return the date in the ISO 8601 format with timezone information
            return dt.strftime('%Y-%m-%d %H:%M:%S+00:00')
        except ValueError:
            continue
    return None

In [239]:
# Clean up the date_string column to remove any trailing commas
df['timestamp_new'] = df['timestamp'].str.replace(',', '', regex=False)

# Apply the function again to the cleaned column
df['timestamp_new'] = df['timestamp_new'].apply(standardize_date_string)

In [224]:
pd.to_datetime(df['timestamp'], errors='coerce', utc=True)

0       2019-09-27 00:00:00+00:00
1                             NaT
2                             NaT
3       2019-09-26 00:00:00+00:00
4       2019-09-26 00:00:00+00:00
                   ...
20495   2010-10-04 00:00:00+00:00
20496   2010-10-04 00:00:00+00:00
20497                         NaT
20498   2010-10-04 00:00:00+00:00
20499   2010-10-04 00:00:00+00:00
Name: timestamp, Length: 20500, dtype: datetime64[ns, UTC]

In [226]:
import pendulum

In [230]:
df['date_standardized'] = df['timestamp'].apply(lambda x: pendulum.parse(x, strict=False).to_datetime_string())

In [231]:
df

,user_name,project_timestamp,project_hours,project_name,old_project_timestamp,timestamp,date_standardized
0,ned,2019-09-27 00:00:00+00:00,8.0,bizdev,2019-09-27 00:00:00 UTC,2019-09-27 00:00:00 UTC,2019-09-27 00:00:00
1,robert,NaT,8.0,bizdev,09/27/2019 12:00 AM,09-27-2019 12:00 AM,2019-09-27 00:00:00
2,ned,NaT,4.0,bizdev,26 сентября 2019 00:00,26-09-2019 00:00,2019-09-26 00:00:00
3,ned,2019-09-26 00:00:00+00:00,1.0,cultureandmanagement,2019-09-26 00:00:00 UTC,2019-09-26 00:00:00 UTC,2019-09-26 00:00:00
4,ned,2019-09-26 00:00:00+00:00,1.5,project-00,2019-09-26 00:00:00 UTC,2019-09-26 00:00:00 UTC,2019-09-26 00:00:00
...,...,...,...,...,...,...,...
20495,robert,2010-10-04 00:00:00+00:00,2.0,transit,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00
20496,robert,2010-10-04 00:00:00+00:00,2.0,cultureandmanagement,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00
20497,robert,NaT,1.5,bizdev,4 октября 2010 00:00,4-10-2010 00:00,2010-04-10 00:00:00
20498,robert,2010-10-04 00:00:00+00:00,1.0,transit,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00
20499,robert,2010-10-04 00:00:00+00:00,6.0,bizdev,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00

In [130]:
filtered_df.to_csv(PROJECT_PATH / 'filter.csv', index=False)

In [77]:
# Check if the column contains a period
contains_period = df['project_timestamp'].str.contains('\.')

# Split the string at the period for those rows that contain a period
df.loc[contains_period, 'project_timestamp'] = df.loc[contains_period, 'project_timestamp'].str.split('.', expand=True)[0]

KeyError: 0

In [74]:
df

      user_name        project_timestamp  project_hours          project_name
0           ned  2019-09-27 00:00:00 UTC            8.0                bizdev
1        robert      09/27/2019 12:00 AM            8.0                bizdev
2           ned   26 сентября 2019 00:00            4.0                bizdev
3           ned  2019-09-26 00:00:00 UTC            1.0  cultureandmanagement
4           ned  2019-09-26 00:00:00 UTC            1.5            project-00
...         ...                      ...            ...                   ...
20495    robert  2010-10-04 00:00:00 UTC            2.0               transit
20496    robert  2010-10-04 00:00:00 UTC            2.0  cultureandmanagement
20497    robert     4 октября 2010 00:00            1.5                bizdev
20498    robert  2010-10-04 00:00:00 UTC            1.0               transit
20499    robert  2010-10-04 00:00:00 UTC            6.0                bizdev

[20500 rows x 4 columns]

In [72]:
df['project_timestamp'] == '.'

0        False
1        False
2        False
3        False
4        False
         ...
20495    False
20496    False
20497    False
20498    False
20499    False
Name: project_timestamp, Length: 20500, dtype: bool

In [71]:
df['timestamp'] = df['project_timestamp'].str.split('.')[0] + ' UTC'

TypeError: can only concatenate list (not "str") to list

In [64]:
#Convert the date column to datetime, which will standardize the format
df['timestamp'] = pd.to_datetime(df['project_timestamp'], errors='coerce', utc=True)

In [57]:
# Convert the date column to datetime, which will standardize the format
#df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce', utc=True)

# If you want to maintain a specific format, for example 'YYYY-MM-DD', you can do:
#df['timestamp'] = df['timestamp'].dt.strftime('%Y-%m-%d')

In [54]:
df.to_csv(PROJECT_PATH / 'sample.csv', index=False)

In [34]:
df['project_timestamp'] = df['project_timestamp'].str.replace('/', '-')
df.head(3)

,user_name,project_timestamp,project_hours,project_name,timestamp
0,ned,2019-09-27 00:00:00 UTC,8.0,bizdev,2019-09-27 00:00:00 UTC
1,robert,09-27-2019 12:00 AM,8.0,bizdev,09-27-2019 12:00 AM
2,ned,26 сентября 2019 00:00,4.0,bizdev,26 сентября 2019 00:00

In [66]:
months_map = {
    'января': 'January',
    'февраля': 'February',
    'марта': 'March',
    'апреля': 'April',
    'мая': 'May',
    'июня': 'June',
    'июля': 'July',
    'августа': 'August',
    'сентября': 'September',
    'октября': 'October',
    'ноября': 'November',
    'декабря': 'December'
}

months_map = {
    'января': '01',
    'февраля': '02',
    'марта': '03',
    'апреля': '04',
    'мая': '05',
    'июня': '06',
    'июля': '07',
    'августа': '08',
    'сентября': '09',
    'октября': '10',
    'ноября': '11',
    'декабря': '12'
}

In [67]:
def replace_month_names(timestamp):
    for rus, eng in months_map.items():
        timestamp = timestamp.replace(rus, eng)
    return timestamp

# Apply the function to the timestamp column
df['timestamp'] = df['project_timestamp'].apply(replace_month_names)

# # Convert the timestamp column to datetime
df['timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce', utc=True)

In [68]:
df.to_csv(PROJECT_PATH / 'sample.csv', index=False)

In [16]:
df['sample_timestamp'] = pd.to_datetime(df['project_timestamp'], errors='coerce', utc=True)

In [78]:
def parse_date_with_locale(date_str):
    try:
        # Attempt to parse the date string
        return parser.parse(date_str)
    except ValueError:
        # Handle the case where parsing fails
        return pd.NaT

# # Apply the parsing function to each date string
df['parsed_timestamp'] = df['timestamp'].apply(parse_date_with_locale)
df['parsed_timestamp'] = pd.to_datetime(df['parsed_timestamp'], errors='coerce', utc=True)
df['parsed_timestamp'] = df['parsed_timestamp'].dt.normalize()

KeyError: 'timestamp'

In [80]:
# Parse the timestamps into datetime objects, including the timezone
df['another_timestamp'] = pd.to_datetime(df['project_timestamp'], utc=True, errors='coerce')

# Normalize the timestamps to midnight
df['another_timestamp'] = df['another_timestamp'].dt.normalize()

In [81]:
df.to_csv(PROJECT_PATH / 'sample.csv', index=False)

In [180]:
df.dtypes

user_name                         object
project_timestamp                 object
project_hours                    float64
project_name                      object
timestamp                         object
random_timestamp     datetime64[ns, UTC]
sample_timestamp     datetime64[ns, UTC]
parsed_timestamp     datetime64[ns, UTC]
another_timestamp    datetime64[ns, UTC]
dtype: object

In [181]:
df

,user_name,project_timestamp,project_hours,project_name,timestamp,random_timestamp,sample_timestamp,parsed_timestamp,another_timestamp
0,ned,2019-09-27 00:00:00 UTC,8.0,bizdev,2019-09-27 00:00:00 UTC,2019-09-27 00:00:00+00:00,2019-09-27 00:00:00+00:00,2019-09-27 00:00:00+00:00,2019-09-27 00:00:00+00:00
1,robert,09/27/2019 12:00 AM,8.0,bizdev,09/27/2019 12:00 AM,NaT,NaT,2019-09-27 00:00:00+00:00,NaT
2,ned,26 сентября 2019 00:00,4.0,bizdev,26 09 2019 00:00,NaT,NaT,2019-09-26 00:00:00+00:00,NaT
3,ned,2019-09-26 00:00:00 UTC,1.0,cultureandmanagement,2019-09-26 00:00:00 UTC,2019-09-26 00:00:00+00:00,2019-09-26 00:00:00+00:00,2019-09-26 00:00:00+00:00,2019-09-26 00:00:00+00:00
4,ned,2019-09-26 00:00:00 UTC,1.5,project-00,2019-09-26 00:00:00 UTC,2019-09-26 00:00:00+00:00,2019-09-26 00:00:00+00:00,2019-09-26 00:00:00+00:00,2019-09-26 00:00:00+00:00
...,...,...,...,...,...,...,...,...,...
20495,robert,2010-10-04 00:00:00 UTC,2.0,transit,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00+00:00,2010-10-04 00:00:00+00:00,2010-10-04 00:00:00+00:00,2010-10-04 00:00:00+00:00
20496,robert,2010-10-04 00:00:00 UTC,2.0,cultureandmanagement,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00+00:00,2010-10-04 00:00:00+00:00,2010-10-04 00:00:00+00:00,2010-10-04 00:00:00+00:00
20497,robert,4 октября 2010 00:00,1.5,bizdev,4 10 2010 00:00,NaT,NaT,2010-04-10 00:00:00+00:00,NaT
20498,robert,2010-10-04 00:00:00 UTC,1.0,transit,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00+00:00,2010-10-04 00:00:00+00:00,2010-10-04 00:00:00+00:00,2010-10-04 00:00:00+00:00
20499,robert,2010-10-04 00:00:00 UTC,6.0,bizdev,2010-10-04 00:00:00 UTC,2010-10-04 00:00:00+00:00,2010-10-04 00:00:00+00:00,2010-10-04 00:00:00+00:00,2010-10-04 00:00:00+00:00

In [182]:
df['new_datetime'] = df['project_timestamp'].dt.floor('S')

AttributeError: Can only use .dt accessor with datetimelike values

In [183]:
df.head()

,user_name,project_timestamp,project_hours,project_name,timestamp,random_timestamp,sample_timestamp,parsed_timestamp,another_timestamp
0,ned,2019-09-27 00:00:00 UTC,8.0,bizdev,2019-09-27 00:00:00 UTC,2019-09-27 00:00:00+00:00,2019-09-27 00:00:00+00:00,2019-09-27 00:00:00+00:00,2019-09-27 00:00:00+00:00
1,robert,09/27/2019 12:00 AM,8.0,bizdev,09/27/2019 12:00 AM,NaT,NaT,2019-09-27 00:00:00+00:00,NaT
2,ned,26 сентября 2019 00:00,4.0,bizdev,26 09 2019 00:00,NaT,NaT,2019-09-26 00:00:00+00:00,NaT
3,ned,2019-09-26 00:00:00 UTC,1.0,cultureandmanagement,2019-09-26 00:00:00 UTC,2019-09-26 00:00:00+00:00,2019-09-26 00:00:00+00:00,2019-09-26 00:00:00+00:00,2019-09-26 00:00:00+00:00
4,ned,2019-09-26 00:00:00 UTC,1.5,project-00,2019-09-26 00:00:00 UTC,2019-09-26 00:00:00+00:00,2019-09-26 00:00:00+00:00,2019-09-26 00:00:00+00:00,2019-09-26 00:00:00+00:00

In [184]:
df['project_timestamp'] = pd.to_datetime(df['project_timestamp'])

# Now, you can use .dt.floor() to round down to the nearest second
# df['new_datetime'] = df['project_timestamp'].dt.floor('S')

# # If you need to round or convert to a specific precision
# # Method 2: Using dt.round() to round to the nearest second
# df['rounded_datetime'] = df['project_timestamp'].dt.round('S')

# # Method 3: Converting to datetime64[s] to truncate to the nearest second
# df['converted_datetime'] = df['project_timestamp'].astype('datetime64[s]')

ValueError: time data "09/27/2019 12:00 AM" doesn't match format "%Y-%m-%d %H:%M:%S %Z", at position 1. You might want to try:
    - passing `format` if your strings have a consistent format;
    - passing `format='ISO8601'` if your strings are all ISO8601 but not necessarily in exactly the same format;
    - passing `format='mixed'`, and the format will be inferred for each element individually. You might want to use `dayfirst` alongside this.

In [191]:
df['another'] = pd.to_datetime(df['timestamp'], errors='ignore')
#df['another'] = df['another'].dt.normalize() + pd.Timedelta(days=1)

AttributeError: Can only use .dt accessor with datetimelike values

In [193]:
df.dtypes

user_name                         object
project_timestamp                 object
project_hours                    float64
project_name                      object
timestamp                         object
random_timestamp     datetime64[ns, UTC]
sample_timestamp     datetime64[ns, UTC]
parsed_timestamp     datetime64[ns, UTC]
another_timestamp    datetime64[ns, UTC]
another                           object
dtype: object

In [192]:
df.to_csv(PROJECT_PATH / 'sample.csv', index=False)

In [196]:
df = pd.read_csv(DATA_RAW_PATH / 'dailycheckins.csv')
df = rename_df_cols(df)
df

      user_name        project_timestamp  project_hours          project_name
0           ned  2019-09-27 00:00:00 UTC            8.0                bizdev
1        robert      09/27/2019 12:00 AM            8.0                bizdev
2           ned   26 сентября 2019 00:00            4.0                bizdev
3           ned  2019-09-26 00:00:00 UTC            1.0  cultureandmanagement
4           ned  2019-09-26 00:00:00 UTC            1.5            project-00
...         ...                      ...            ...                   ...
20495    robert  2010-10-04 00:00:00 UTC            2.0               transit
20496    robert  2010-10-04 00:00:00 UTC            2.0  cultureandmanagement
20497    robert     4 октября 2010 00:00            1.5                bizdev
20498    robert  2010-10-04 00:00:00 UTC            1.0               transit
20499    robert  2010-10-04 00:00:00 UTC            6.0                bizdev

[20500 rows x 4 columns]

In [202]:
df['another'] = pd.to_datetime(df['project_timestamp'], errors='coerce')

In [203]:
df.to_csv(PROJECT_PATH / 'sample.csv', index=False)

In [230]:
problem_df = df[df['another'].isna()].drop(columns=['another'])

In [83]:
def parse_date_with_locale(date_str):
    try:
        # Attempt to parse the date string
        return parser.parse(date_str)
    except ValueError:
        # Handle the case where parsing fails
        return date_str

# Apply the parsing function to each date string
df['parsed_timestamp'] = df['project_timestamp'].apply(parse_date_with_locale)
df['parsed_timestamp'] = pd.to_datetime(df['parsed_timestamp'], errors='coerce', utc=True)
df['parsed_timestamp'] = df['parsed_timestamp'].dt.normalize()

In [161]:
months_map = {
    ' января ': '-01-',
    ' февраля ': '-02-',
    ' марта ': '-03-',
    ' апреля ': '-04-',
    ' мая ': '-05-',
    ' июня ': '-06-',
    ' июля ': '-07-',
    ' августа ': '-08-',
    ' сентября ': '-09-',
    ' октября ': '-10-',
    ' ноября ': '-11-',
    ' декабря ': '-12-'
}

In [162]:
def replace_month_names(timestamp):
    for rus, eng in months_map.items():
        timestamp = timestamp.replace(rus, eng)
    return timestamp

# Apply the function to the timestamp column
df['timestamp'] = df['project_timestamp'].apply(replace_month_names)

# # Convert the timestamp column to datetime
df['random_timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce', utc=False)

ValueError: value must be an integer, received <class 'str'> for year

In [289]:
df.to_csv(PROJECT_PATH / 'sample.csv', index=False)

In [193]:
orig_df = pd.read_csv(PROJECT_PATH / 'sample.csv')
df = orig_df[orig_df['project_timestamp'].isna()]
df.head(10)

,user_name,project_timestamp,project_hours,project_name,old_project_timestamp,timestamp
1,robert,NaN,8.00,bizdev,09/27/2019 12:00 AM,09/27/2019 12:00 AM
2,ned,NaN,4.00,bizdev,26 сентября 2019 00:00,26-09-2019 00:00
6,jaime,NaN,2.00,project-00,12/21/2018 12:00 AM,12/21/2018 12:00 AM
20,catelyn,NaN,0.72,opsandadmin,26 ноября 2018 14:47,26-11-2018 14:47
28,jorah,NaN,2.00,project-51,11/26/2018 12:49 PM,11/26/2018 12:49 PM
38,viserys,NaN,0.50,opsandadmin,26 ноября 2018 12:30,26-11-2018 12:30
42,viserys,NaN,1.00,project-51,11/26/2018 12:30 PM,11/26/2018 12:30 PM
50,jaime,NaN,1.80,learning,26 ноября 2018 12:11,26-11-2018 12:11
65,sansa,NaN,2.00,transit,11/26/2018 11:48 AM,11/26/2018 11:48 AM
91,catelyn,NaN,2.37,project-40,23 ноября 2018 13:12,23-11-2018 13:12

In [194]:
df['project_timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce', utc=True)
orig_df.update(df)
orig_df.to_csv(PROJECT_PATH / 'final.csv', index=False)

/var/folders/zb/r6zwt9xn6dgfrg3kzcgyjgtc0000gn/T/ipykernel_52280/3337255215.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['project_timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce', utc=True)
/var/folders/zb/r6zwt9xn6dgfrg3kzcgyjgtc0000gn/T/ipykernel_52280/3337255215.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['project_timestamp'] = pd.to_datetime(df['timestamp'], errors='coerce', utc=True)

['2019-09-27', '00:00:00+00:00']